<h1>Editing Match</h1>

<%= render 'form', mattch: @mattch %>

<%= link_to 'Show Match', @mattch, :class=>"btn btn-primary" %> |
<%= link_to 'All Matches', mattches_path, :class=>"btn btn-primary" %>
