body {
	background: #0f6849;
	color: #340f68;
}

h1 {
	color: #111111;
}

a:link {
	color: #aa147d;
}

.game_span {
	background-color: white;
	border: 2px solid red;
}

.select_player_left {
	background-color: #91b3ea;
}

.select_player_right {
	background-color: #ffcccc;
}
